name: PlatformIO Build

on:
  push:
    branches: ["main", "v*"]
  pull_request:
    branches: ["main", "v*"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [
          "esp32_display_lcd",
          "esp32_display_oled",
          "ai_vox3_dht11_servo_led",
          "ai_vox3_led",
          "ai_vox3_motor_fan",
          "ai_vox3_motordriver",
          "ai_vox3_servo",
          "ai_vox3_us04_dht11_photosensitive",
          "ai_vox3_ws2812b"
        ]
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio-${{ hashFiles('platformio.ini') }}
          
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio
        
      - name: Build PlatformIO Project
        run: pio run -e ${{ matrix.target }}
        
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware-${{ matrix.target }}
          path: .pio/build/${{ matrix.target }}/*.bin